.top-blank {
  height: 60px;
}

.AllFeed {
  width: 616px;
  border: 1px solid red;
}

.Feed {
  width: 100%;
  height: 875px;
  border: 1px solid red;
}

.Feed-header {
  width: 100%;
  height: 62px;
  border: 1px solid blue;
}

.Feed-content {
  width: 100%;
  height: 597px;
  border: 1px solid green;
}

.Feed-text {
  width: 100%;
  height: 163px;
}

.text-input {
  width: 100%;
  height: 54px;
}
